.menu-header {
	width: 100%;
	min-height: 460px;
	background: linear-gradient(to bottom right, rgba(248, 183, 77, 0.3), rgba(224, 92, 34, 0.3)), url(../../../img/menu-header.jpg) no-repeat center;
	box-shadow: inset 0 0 600px 0 rgba(0, 0, 0, 0.9);
	text-align: center;
	letter-spacing: 5px;
	position: relative;
	> div {
		position: absolute;
		padding: 30px;
		background-color: rgba(0, 0, 0, 0.7);
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		h3 {
			font-size: 44px;
		}
		h3, p {
			color: #fff;
		}
		span {
			color: #e05c22;
			font-weight: 700;
			font-size: 48px;
		}
		h3, p, span {
			text-shadow: 2px 2px 4px #000;
		}
		p {
			font-size: 38px;
		}
	}

}