.header {
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	align-items: center;
	background: #e05c22;
	&__logo {
		align-items: center;
		img {
			width: 40px;
		}
		span {
			font-size: 18px;
			font-weight: 700;
			color: #f8b74d;
			text-shadow: 2px 2px 1px #000;
		}
	}
}